#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-page {
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-page .directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-page .directory-menu .menu-item {
  min-width: 30%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;
}

.home-page .directory-menu .menu-item .content {
  height: 90px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.home-page .directory-menu .menu-item .content .title {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 22px;
  color: #4a4a4a;
}

.home-page .directory-menu .menu-item .content .subtitle {
  font-weight: lighter;
  font-size: 16px;
}

.home-page .directory-menu .menu-item.large {
  height: 380px;
}

.home-page .directory-menu .menu-item.large .content {
  height: 240px;
}

.home-page .directory-menu .menu-item.large .content .title {
  font-size: 50px;
}

.home-page .directory-menu .menu-item.large .content .subtitle {
  font-size: 50px;
}


@media screen and (max-width: 800px) {
  .home-page .directory-menu .menu-item {
    min-width: 100%; 
  }
}

.cart {
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90px;
  right: 40px;
  border: 1px solid black;
  padding: 20px;
  background-color: white;
  z-index: 5;
}

.cart .cart-items {
  height: 240px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.cart .cart-items .empty-message {
  font-size: 18px;
  margin: 50px auto;
}

.cart .checkout-button {
  margin-top: auto;
}

.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
}

.cart-items {
  height: 240px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.empty-message {
  font-size: 18px;
  margin: 50px auto;
}

.checkout-button {
  margin-top: auto;
}

.cart-item {
  width: 100%;
  display: flex;
  height: 80px;
  margin-bottom: 15px;
}

.cart-item-image {
  width: 30%;
}

.image {
  width: 100%;
  height: 100%;
}

.item-details {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
}

.name {
  font-size: 16px;
}

.price {
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  .cart-page .directory-menu .menu-item {
    min-width: 100%; 
  }
}

.products-page {
  display: flex;
  flex-direction: column;
}

.products-page .title {
  font-size: 38px;
  margin: 0 auto 30px;
}

.products-page .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.products-page .items .collection-item {
  margin-bottom: 30px;
}

.products-page .items .collection-item .image {
  width: 100%;
  height: 95%;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}

.products-page .items .collection-item .collection-footer {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.products-page .items .collection-item .collection-footer .name {
  width: 90%;
  margin-bottom: 15px;
}

.products-page .items .collection-item .collection-footer .price {
  width: 10%;
}

.products-page .items .collection-item .custom-button {
  width: 80%;
  opacity: 0.7;
  position: absolute;
  top: 255px;
  display: none;
}

.products-page .items .collection-item:hover .custom-button {
  opacity: 0.85;
  display: flex;
}

.products-page .items .collection-item:hover .image {
  opacity: 0.8;
}

.products-page .items .collection-item:hover .collection-footer {
  opacity: 0.8;
}

.products-page .items .collection-item:hover .name {
  opacity: 0.9;
}

.products-page .items .collection-item:hover .price {
  opacity: 0.9;
}

.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.custom-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.custom-button.inverted:hover {
  background-color: black;
  color: white;
  border: none;
}

@media screen and (max-width: 800px) {
  .products-page .directory-menu .menu-item {
    min-width: 100%; 
  }
}

.users-page {
  display: flex;
  flex-direction: column;
}

.users-page .title {
  font-size: 38px;
  margin: 0 auto 30px;
}

.users-page .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.users-page .items .collection-item {
  margin-bottom: 30px;
}

.users-page .items .collection-item .image {
  width: 100%;
  height: 95%;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}

.users-page .items .collection-item .collection-footer {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.users-page .items .collection-item .collection-footer .name {
  width: 90%;
  margin-bottom: 15px;
}

.users-page .items .collection-item .collection-footer .price {
  width: 10%;
}

.users-page .items .collection-item .custom-button {
  width: 80%;
  opacity: 0.7;
  position: absolute;
  top: 255px;
  display: none;
}

.users-page .items .collection-item:hover .custom-button {
  opacity: 0.85;
  display: flex;
}

.users-page .items .collection-item:hover .image {
  opacity: 0.8;
}

.users-page .items .collection-item:hover .collection-footer {
  opacity: 0.8;
}

.users-page .items .collection-item:hover .name {
  opacity: 0.9;
}

.users-page .items .collection-item:hover .price {
  opacity: 0.9;
}

.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.custom-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.custom-button.inverted:hover {
  background-color: black;
  color: white;
  border: none;
}

@media screen and (max-width: 800px) {
  .users-page .directory-menu .menu-item {
    min-width: 100%; 
  }
}

.login-page {
  width: 380px;
  display: flex;
  flex-direction: column;
}

.login-page .title {
  margin: 10px 0;
}

.login-page .buttons {
  display: flex;
  justify-content: space-between;
}

.login-page .buttons .custom-button {
  width: 45%;
}

.login-page .buttons .custom-button:last-child {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .login-page {
    width: unset;
  }
  
  .login-page .buttons {
    display: flex;
    flex-direction: column;
    
    .custom-button {
      width: unset;
      margin-bottom: 10px;
    }
  }
}

.sign-up-page {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.sign-up-page .title {
  margin: 10px 0;
}

.sign-up-page .buttons {
  display: flex;
  justify-content: space-between;
}

.sign-up-page .buttons .custom-button {
  width: 45%;
}

.sign-up-page .buttons .custom-button:last-child {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .sign-up-page {
    width: unset;
  }
  
  .sign-up-page .buttons {
    display: flex;
    flex-direction: column;
    
    .custom-button {
      width: unset;
      margin-bottom: 10px;
    }
  }
}

.logout-page {
  width: 380px;
  display: flex;
  flex-direction: column;
}

.logout-page .title {
  margin: 10px 0;
}

.logout-page .buttons {
  display: flex;
  justify-content: space-between;
}

.logout-page .buttons .custom-button {
  width: 45%;
}

.logout-page .buttons .custom-button:last-child {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .logout-page {
    width: unset;
  }
  
  .logout-page .buttons {
    display: flex;
    flex-direction: column;
    
    .custom-button {
      width: unset;
      margin-bottom: 10px;
    }
  }
}

.layout-page {
  width: 380px;
  display: flex;
  flex-direction: column;
}

.layout-page .title {
  margin: 10px 0;
}

.layout-page .buttons {
  display: flex;
  justify-content: space-between;
}

.layout-page .buttons .custom-button {
  width: 45%;
}

.layout-page .buttons .custom-button:last-child {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .layout-page {
    width: unset;
  }
  
  .layout-page .buttons {
    display: flex;
    flex-direction: column;
    
    .custom-button {
      width: unset;
      margin-bottom: 10px;
    }
  }
}

.notFound-page {
  width: 380px;
  display: flex;
  flex-direction: column;
}

.notFound-page .title {
  margin: 10px 0;
}

.notFound-page .buttons {
  display: flex;
  justify-content: space-between;
}

.notFound-page .buttons .custom-button {
  width: 45%;
}

.notFound-page .buttons .custom-button:last-child {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .notFound-page {
    width: unset;
  }
  
  .notFound-page .buttons {
    display: flex;
    flex-direction: column;
    
    .custom-button {
      width: unset;
      margin-bottom: 10px;
    }
  }
}




















